/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* цвета */
  --accent-color: #ff0070;
  --section-nav-color: #ff0070;
  --section-nav-color-rgb: 255, 0, 112;
  --page-bg-color: #000028;
  --title-color: #db00ff;
  --section-text-color: #F1B2CE;
  --section-sub-color: #000028;
  --section-title-color: #ff0070;

  --background-image: url("../images/cover-image-dark.png");

}
