/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --accent-color: #FF8DCB;
  --page-bg-color: #FFF1F7;
  --title-color: #FFC2E6;
  --section-text-color: #353430;
  --section-nav-color: #353430;
  --section-sub-color: #353430;
  --section-title-color: #353430;


  /* другое */
  --background-image: url("../images/cover-image-light.png");
}

/* для системы (авто) */
@media (prefers-color-scheme: light) {
  :root.theme-auto {
    --accent-color: #FF8DCB;
    --page-bg-color: #FFF1F7;
    --title-color: #FFC2E6;
    --section-text-color: #353430;
    --section-nav-color: #353430;


    /* другое */
    --background-image: url("../images/cover-image-light.png");
  }

  .theme-auto .header__rec {
    display: none;
  }
}

.theme-light .header__rec {
  display: none;
}